.header-content {
    width: 100%;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid #eee;
    margin: 0rem;    
    padding: 5px;
}

.logo {
    width: 7em;
    height: 1.5em;
    object-fit: contain;
}

.product-data-main {
    width: 80%;
}

.product-img {
    width: 80%;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    object-fit: contain;
}

.product-data-sub {
    text-align: left;
    border-radius: 1em;
    margin-top: 9%;
    width: 50%;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
}

.Footer {
    width: 100%;
    height: 40px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
  }

.cart {
    height: 50%;
}

.strikeprice {
    text-decoration: line-through;
}

.cart-subtotal {
    width: 100%;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
}

.video-box {
    width: 100%;
    border-radius: 10px;
   margin-top: 1em; 
  }

  
  .Carousel-box {
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
  }

.Carousel-box-Img {
        width: 90px;
        height: 90px;
        object-fit: contain;     
}

  .Carousel-button{
      padding: 0;
      border-width: 0;
      border-radius: 10px;
  }
  
  .product-carousel {
    margin-top: 2.5em;
    padding-bottom: 1em;
  }
  .width-100 {
      width: 100%;
  }

  .Carousel-box-category{
    width: 25px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: blue;
  }

  .responsive-iframe {
    width: 100%;
    height: 100%;
  }

  .close-btn {
    display: none;
}

  @media only screen and (max-width: 600px) {
    .responsive-iframe {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }

      .close-btn {
        display: block;
          z-index: 10;
          position: absolute;
          margin-top: -100%;
      }
}


.category-name {
    margin-top: 5px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    background-color: #eee;
   border-radius: 0 10px 10px 0;
   border-left: 3px solid black;
   white-space: nowrap;
   display:inline-block;
   font-weight: 400
}

.modal-header-button {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
}